/* <div class="header-container">

<!---Header Navbar-->
<div class="header-navbar">
    <div class="header-logo">Header Logo</div>

    <div class="header-links-container">
        <div class="header-link-one">header-link-one</div>
        <div class="header-link-one">header-link-one</div>
        <div class="header-link-one">header-link-one</div>
    </div>
</div>
</div> */

/* Root for colors*/
:root {
    --gray: #E5E7EB;
    --white: #F9FAF8;
    --dark: #1F2937;
}

.header-container{
    background-color: var(--dark);
    color: white;
}

.header-navbar {
    background-color: black;
    display: flex;
    justify-content: space-evenly;
}

.header-logo {
    font-weight: bold;
    font-size: 24px;
    color: var(--white);
    margin: 20px;
}

.header-links-container {
    color: var(--gray);
    display: flex;
    gap: 20px;
    font-size: 18px;
    justify-content: center;
    align-content: center;
    margin: 25px;
}

/* Hero part */
.header-hero {
    display: flex;
    margin: 100px;
    align-items: center;
    justify-content: center;


    align-items: flex-start;
}

.header-hero-placeholder {
    height: 250px;
    width: 700px;
    color: white;
    background-color: gray;

    justify-content: center;
    align-items: center;
    display: flex;

}

.placeholder-text{
    text-align: center;
}

.header-hero-left{
    margin: 20px;
    background-color: black;
}

.header-hero-main {
    font-size: 48px;
    font-weight: extra-bold;
    color: --var(white);
    width: 300px;
}

.header-hero-second {
    font-size: 18px;
    color: #E5E7EB;    
    width: 400px;
}

.header-hero-button {
    background-color: #3882f6;
    padding: 15px 32px;
    margin: 4px 2px;
    width: 60px;
    height: 20px;
    text-align: center;
}
